
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="button" value="Create Course" onclick="location.href='@Url.Action("CreateCourse", "Home", new { status = "" })'" style="background-color:forestgreen;width:200px;height:50px;color:white" />
        <input type="button" value="List Users With Highest Scores" onclick="location.href='@Url.Action("ListUsers", "Home", new { status = "" })'" style="background-color:forestgreen;width:200px;height:50px;color:white" />
    </div>
</body>
</html>
